@charset "gbk";
body{margin: 0px;font-family:Microsoft Yahei;font-size:12px;color:#2b2b2b;}
ol,ul,li{list-style:none;}
div,ul,ol,li,form{padding:0;margin:0;}	
TABLE{WORD-BREAK: break-all;clear:both;}
.fontspec{color:#ff6600;}
td{font-size:12px;line-height: 150%;text-decoration: none;}
.Infotd{font-size:13px;line-height: 150%;text-decoration: none;}			
price{font-weight:bold;font-size:15px; line-height:30px;}
		
p {text-indent: 2em;}
select,input,textarea{line-height: 15px;color:#524E4E; font-size:12px;outline:none;}	
.Classselect{line-height: 30px;height:30px;padding-top:3px; padding-left:2px;border:1px solid #D1D1D1;}
.comcityselect{line-height: 150%;text-decoration: none;height:25px;font-size:13px;}		
a:link	  {color:#0066cc;text-decoration:none;}
a:visited {color:#0066cc;text-decoration:none;}
a:hover   {color:#f60;text-decoration:underline;}
a:active  {color:#004592;text-decoration: none;}

.greenfont{color:#009900;}

.Linklist:link	  {color:#0066cc;text-decoration:none;font-size: 18px;}
.Linklist:visited {color:#551A8B;text-decoration:none;font-size: 18px;}
.Linklist:hover   {color:#f60;text-decoration:underline;font-size: 18px;}
.Linklist:active  {color:#004592;text-decoration: underline;font-size: 18px;}


.myLinklist:link	  {color:#0066cc;text-decoration:none;font-size: 12px;font-weight:bold;}
.myLinklist:visited {color:#551A8B;text-decoration:none;font-size: 12px;font-weight:bold;}
.myLinklist:hover   {color:#f60;text-decoration:underline;font-size: 12px;font-weight:bold;}
.myLinklist:active  {color:#004592;text-decoration: underline;font-size: 12px;font-weight:bold;}

.myLinklistsee:link {color:#551A8B;text-decoration:none;font-size: 12px;}
.myLinklistsee:visited {color:#551A8B;text-decoration:none;font-size: 12px;}
.myLinklistsee:hover   {color:#f60;text-decoration:underline;font-size: 12px;}
.myLinklistsee:active  {color:#004592;text-decoration: underline;font-size: 12px;}


.linkfont2:link	  {font-size: 12px;}
.linkfont2:visited {font-size: 12px;}
.linkfont2:hover   {font-size: 12px;}
.linkfont2:active  {font-size: 12px;}

.topline:link	  {color:#f60;text-decoration:none;}
.topline:visited {color:#f60;text-decoration:none;}
.topline:hover   {color:#f60;text-decoration:underline;}
.topline:active  {color:#004592;text-decoration: underline;}

.info_title {font-size: 15px;font-weight: bold;color: #375C77;	text-decoration: none;}

#font14  td{font-size: 15px;}

.circle-item{background: none repeat scroll 0 0 #45C7D1;border-radius: 8.5px 8.5px 8.5px 8.5px; color: #FFFFFF;padding:1px 5px; position: absolute;}

.red_font {color: #E61206;	text-decoration: none;}
.index_font {color: #4E4949;}
.thick_font {color: #3888BB;text-decoration: none;font-weight: bold;}
.grey_font {color: #524E4E;	text-decoration: none;}
.tablemenu{overflow:hidden;border:1px solid #B0BEC7;}
.tablepix{overflow:hidden;border:1px solid #DAF3F5;TABLE-LAYOUT: fixed; }
.line{margin-bottom:5px;margin-top:10px;line-height:1px;border-bottom:1px #EEE solid;}
#list{margin-top: 2px;	clear: both;}
#list td{font-size: 12px;color: #666666;padding: 2px 0 2px 0px;vertical-align: top;border-bottom: 1px solid #E7E7E7;}
.table_br {TABLE-LAYOUT: fixed; WORD-BREAK: break-all; WORD-WRAP: break-word;}


.txt_login{width:280px;height:25px;line-height:25px;font-size:13px;border:1px solid #D1D1D1;padding:4px 3px 3px 5px;}
.txt_login2{width:300px;height:34px;line-height:34px;font-size:14px;border:1px solid #D1D1D1;padding:3px 3px 3px 5px; background-color:#FFF; }


.txt_verify{width:40px;height:19px;line-height:19px;font-size:13px;border:1px solid #D1D1D1;padding:4px 3px 3px 5px;}
.detail {
	overflow: hidden;	
	padding:0px 0px;
	margin:0 auto; 
	width:1101px;
	background-color:#ffffff;WORD-BREAK: break-all; WORD-WRAP: break-word;
}
	
.detail  .d_show{padding:0px 5px 6px 5px;margin:0 auto;	line-height: 180%;width:900px;font-size:15px;border:1px #DAF3F5 solid;}
.detail  .d_cname{padding:6px 0 0 1px;margin:0 auto;}
.detail  .d_left{padding:0px 5px 6px 5px;margin:5px 0 0 0;line-height: 180%;FLOAT: left;width:810px;font-size:15px;border:1px #DAF3F5 solid;}
.detail  .d_left span{padding-right:30px;}
.detail  .d_right{padding:0px 2px;line-height: 150%;width:172px;FLOAT:right;}
.detail  .d_content{font-size:15px;line-height:180%;padding:15px 3px 15px 2px;}
.detail  h2{font-size:20px;font-weight:bold;margin:5px 0;}
.detail  .lookmob{width:100px;height:30px;}
.detail  .d_left {padding:0 0 0 10px;}
.detail  .ad300{FLOAT: right; padding: 0 5px 0 5px;}
.detail  .suggest{color:#090;font-size:12px;}

.jobct {
	overflow: hidden;	
	padding:0;
	margin:0 auto; 
	width:1101px;
	background-color:#ffffff;WORD-BREAK: break-all; WORD-WRAP: break-word;
}

.jobct  .d_cname{padding:6px 0 0 1px;margin:0 auto;}
.jobct  .d_left{padding:0 10px 5px 5px;margin:5px 0 0 0;line-height: 180%;FLOAT: left;width:790px;font-size:15px;border:1px #DAF3F5 solid;}
.jobct .d_left span{padding:0 20px 0 10px;color:#666;}
.jobct  .d_left_qz{padding:0 0 5px 0;margin:5px 0 0 0;line-height: 150%;FLOAT: left;width:1099px;font-size:15px;border:1px #DAF3F5 solid;}
.jobct .d_left_qz span{padding:0 20px 0 10px;color:#666;}

.jobct  .d_right_box{padding:0px 2px;line-height: 180%;width:256px;FLOAT:right;}
.jobct  .ct_r_dot{margin:3px 0 5px 0;padding:3px 3px 3px 3px;border:1px solid #DAF3F5;font-size:15px;}
.jobct  .ct_r_dot li{line-height:180%; padding-left:2px}
.jobct  .d_right{padding:0px 2px;width:172px;FLOAT:right;}
.jobct  .d_content{font-size:15px;padding:15px 15px 15px 10px;color:#666;line-height:180%;}
.jobct  h2{font-size:20px;font-weight:bold;margin:5px 0;padding-left:10px;}
.jobct  .lookmob{width:100px;height:30px;}
.jobct  .d_left {padding:0 0 0 10px;}
.jobct  .ad300{FLOAT: right; padding: 0 15px 0 5px;}
.jobct  .suggest{color:#090;font-size:12px;}
.jobct  .reportpay{color:#777;font-size:12px;padding: 8px 0 0 140px;}
.jobct  .mobile{font-size:18px;height:37px;line-height:37px;}
.jobct  .phone{font-size:18px;}

.qzct {
	overflow: hidden;	
	padding:0;
	margin:0 auto; 
	width:1101px;
	background-color:#ffffff;WORD-BREAK: break-all; WORD-WRAP: break-word;
}
.qzct  .d_cname{padding:6px 0 0 1px;margin:0 auto;}
.qzct  .person{font-size:22px; font-weight: bold;padding-right:5px;}
.qzct  .qztime{font-size:12px; color:#777;}
.qzct  .qzhope{width:460px;}
.qzct  .qzitem{color:#777;}
.qzct  .mobile{font-size:18px;color:#f60; }
.qzct ul li{width:100%;text-align:left; color:#524e4e; display:inline-block; overflow:hidden;line-height:35px;}
.qzct span{display:block; float:left;}
.qzct .qzline{margin:5px 0 10px 0;line-height:1px;border-bottom:1px #EEE solid; width:100%; }
.qzct  .d_left_qz{padding:0 0 5px 0;margin:5px 0 0 0;line-height: 150%;FLOAT: left;width:1099px;font-size:15px;border:1px #DAF3F5 solid;}
.qzct  .qz_content{font-size:15px;line-height: 23px;padding:15px 80px 15px 80px;}
.qzct  .suggestjl{color:#777;font-size:12px;padding-bottom:50px;}
.qzct  .qzdescribe{line-height:28px;}
.qzct  .lookcontact{padding:10px 0 10px 0;}
.report {FLOAT:left;padding-bottom:30px;}
.ctad {FLOAT:left;width:99%;}
.q {height : 19px;line-height : 19px;font-size : 13px;border : 0px solid #7f9db9;}

.outLinks {margin:12px 0 0 0; }
.outLinks  a{padding:0 5px 0 5px;}

.outLinks  .second{margin:5px 5px 0 60px;}
.outLinks  a:link{color:#777;;}
.outLinks  a:visited{color:#777;}
.GADso{margin:5px 0 5px 0;padding:5px 3px 5px 5px;border:1px solid #DAF3F5;overflow:hidden;line-height:25px;font-size:12px}

#other-job{width:500px;margin:10px 0 6px 0;}
#other-job ul,li2{margin:0;padding:0 0 0 5px;width:450px; float:left}
#other-job span{ float:right}

.currentfont {color:#f60;}

.form_inp1{border:1px solid #aaa; width:205px; height:15px}

.sobtn{width:35px;height:22px;cursor:pointer;}
.line2{padding:10px 0  10px 0;margin:0;line-height:1px;border-bottom:1px #EEE solid; width:960px }
.line0{padding:0;margin:0;line-height:1px;border-bottom:1px #EEE solid; width:100%; }
.topclass {	font-size:13px;margin:0 auto;
	padding:10px 0 0 0;
	width:1101px;
	overflow: hidden;	
	background-color:#ffffff;WORD-BREAK: break-all; 
	
}
.topclass a{padding:0 3px;}
.topclass .distance{margin:12px 0 0 0;}

.formsearch{padding:10px 0 30px 0px;}
.listclass{padding:10px 0px 10px 2px;margin:10px 0 2px 0;border:1px solid #DAF3F5;width:1096px;background:#FFFFFF;}

.top_kd {border: none; height:15px;margin-left: auto;margin-right: auto;position: relative; width: 100%;}
.top_kd-a {background-color: #2EAFBB;border: none;height: 5px;overflow: hidden;padding: 0px;position: absolute;top: 0px; width: 100%;}
.top_kd-b {background-color: #f3f3f3;border: none; height: 10px;	overflow: hidden; padding: 0px; position: absolute;top: 10px; width: 100%;}


.listcontent{padding:10px 0px 2px 2px;margin:0px 0 2px 0;border:1px #DAF3F5 solid;width:1096px;}
.indexclass{padding:10px 0px 5px 4px;margin:0 auto;border:0px;width:1097px;background:#ffffff;font-size:13px;}
.indexclass a{padding:0 3px;}
.indexclass .distance{margin:12px 0 0 0;}

.bomttomfont{ text-align:center; color: #524E4E; padding:8px 0 38px 0;line-height: 30px;background-color: #FFFFFF;}

.topwrap {margin:0px auto; width:1097px; height:72px;overflow: hidden;}
.topwrap .logo{float:left;margin-left:0px; 
	display: flex;
    font-size: 30px;
    font-weight: bold;
    height: 72px;
    line-height: 72px;}
.topwrap .city{margin-top:21px; float:left;}
.topwrap .member{margin-right:25px; }
.topwrap .topso{margin:30px 0 0 100px;float:left; }
.topwrap .login{padding:30px 4px 0 0; float:right;}

.indextopwrap {margin:0px auto; width:1097px; height:72px;overflow: hidden;background-color: #FFFFFF;}
.indextopwrap .logo{float:left;margin-left:0px; }
.indextopwrap .city{margin-top:21px; float:left;}
.indextopwrap .member{margin-right:25px;}
.indextopwrap .topso{margin:30px 0 0 100px;float:left; }
.indextopwrap .login{padding:30px 0; float:right;}
.indextopwrap  .hezuo{ float:left;width:260px;}

.CurrentProvince{font-size: 21px;font-weight:bold; font-family:Arial, Helvetica, sans-serif;color:#3f3a39;}	

.wrap{margin:0px auto;width:1101px;overflow: hidden;}
.wrapqz{margin:0px auto; width:640px;overflow: hidden;}
.wrapindexlink{margin:0px auto;  margin-top:8px;width:1101px;overflow: hidden;background-color: #FFFFFF;}

.main{margin-top:8px; font-size:12px; }
.PartTime{width:440px; margin-right:7px; padding:5px;  border-width:0px; float:left;height:435px;background-color: #FFFFFF;}
.PartTime ul li{line-height:28px; clear:both;}
.PartTime a{padding-left:5px;font-size:15px;}
.PartTime span{display:block;}

.PartTimea{width:443px; margin-right:7px; padding:5px; border-width:0px; float:left;height:762px;background-color: #FFFFFF;}
.PartTimea ul li{line-height:28px; clear:both;}
.PartTimea a{padding-left:5px;font-size:15px;}
.PartTimea span{display:block;}

.buleBold a{color:#2EAFBB;  float:left;font-weight: bold}
.buleBoldsmall {color:#2EAFBB; font-weight:bold; float:left;padding-left:50px;}
.buleBoldsmall a{color:#2EAFBB; }
.more{float:right;}
.Register{width:174px; padding:5px; text-align:center;  border-width:0px; float:right; height:435px;background-color: #FFFFFF;}
.Register ul li{line-height:28px; clear:both;}

.indexfabu{margin:30px 25px 5px 25px; background-color:#2EAFBB; font-size:15px; padding:3px 0 2px 0;}
.indexfabu a{color:#FFF;font-weight:bold;  }
.indexedit{margin:20px 25px 5px 25px; background-color:#B9DCFF; font-size:15px; padding:3px 0 2px 0;}
.indexedit a{color:#2b2b2b;font-weight:bold; }
.sendfabu{width:169px; padding:5px; text-align:center; float:left; }
.sendfabu ul li{line-height:26px; clear:both;}

.PaddingTop50{padding-top:30px;}
.PaddingBottom66{padding-bottom:10px;}
em{font-style:normal;font-weight:normal;}

.indexqz{border-color: #DAF3F5;border-width: 0px; float: right;padding: 5px;width: 630px;height:309px;background-color: #FFFFFF;}
.indexqz ul li {clear: both;line-height: 29.5px;}
.indexqz a{padding-left:5px;font-size:15px;}
.indexqz em {display: block; float: left;width: 290px;}
.indexqz span {display: block;float: left;margin-left: 25px;color:#4E4949;}

.Recruitment{width:535px; padding:5px; border-color:#DAF3F5; border-style:solid; border-width:1px; float:right;height:258px;}
.Recruitment ul li{line-height:28px; clear:both;}
.Recruitment a{padding-left:5px;font-size:15px;}
.Recruitment span{display:block;}

.member_left{width:145px; margin-right:0px; padding:5px; border-color:#DAF3F5; border-style:solid; border-width:1px; float:left;}
.member_left ul{margin-top:8px;}
.member_left ul li {clear:both;padding:3px 0 3px 3px;border-color:#ffffff;border-width:1px;border-style:solid;}
.member_left ul li a{display:block;padding-left:22px;}
.member_left .n-t-active,.n-t-hover{background-color:#45C7D1;}
.member_left .n-t-active a,.n-t-hover a{color:#fff;}
.member_left .n-t-active a:hover,.n-t-hover a:hover{color:#fff;text-decoration: none;}

.gongsiMain{width:1070px; margin:0px auto; font-size:15px;}
.gongsiMain ul li{line-height:35px; text-align:left; color:#524e4e; display:inline-block;overflow:hidden;}
.gongsiMain span{display:block; float:left;}
.gongsiMain .w90{width:90px; text-align:right;}
.gongsiMain .w880{width:880px;}
.gongsiMain .w970{width:880px; padding-left:90px;}
.gongsiMain .w440{width:440px;}
.gongsiMain .w530{width:440px; padding-left:90px;}
.gongsiMain .font18{font-size:18px;font-weight:bold;}

.smallRecruitment {padding:5px; border:0px ; width:453px; margin-right:8px; float:left;height:555px; background-color:#FFFFFF;}
.smallRecruitment ul li {line-height: 28px; clear: both;display:block;}
.smallRecruitment a {padding-left: 5px;font-size:15px;}
.smallRecruitment span{display:block; float:left;}
.smallRecruitment .leftPadding{padding-left:50px;}
.smallRecruitment .Margin{margin:0px 10px;}

.smallJob {padding:5px; border:0px ; width: 404px; margin-right:5px; float:left;height:555px; background-color:#FFFFFF;}
.smallJob ul li {line-height:28px; clear:both; display:block;font-size:15px;}
.smallJob span{display:block; float:left; width:160px;}
.smallJob span a{padding-left:44px;font-size:15px; }
.smallTitle{width:112px; background:#2EAFBB; float:left; text-align:center;}
.smallTitle a{color:#fff}
.smallMargin{padding-left:40px; float:left;}
.smallRegister {padding: 5px; border: 0px  ; width: 198px;  text-align: center; float: right;height:555px; background-color:#FFFFFF;}
.smallRegister ul li {line-height: 28px; clear: both;display:block;margin: 20px 37px 20px 37px;}

.joblist{width:1070px; margin:0px auto;}
.joblist ul li{line-height:50px; text-align:left; color:#524e4e; display:inline-block; overflow:hidden;}
.joblist li{width:100%;border-bottom:1px solid #eee;}
.joblist span{display:block; float:left;}
.joblist .jobtitle{width:420px;}
.joblist .ontopbg{background-color:#E6F8F9;width:1070px;}
.joblist .listcompany{width:320px;}
.joblist .listcompany  a{color:#2b2b2b;}
.joblist .xueli{width:100px;}
.joblist .listzptime{width:140px;}
.joblist .listqztime{width:120px;}
.joblist .listage{width:70px;}
.joblist .listpage{line-height:80px;}
.joblist .price{width:90px;height:30px;}
.joblist .payment_type{width:90px;height:30px;border:0;}
.joblist .area{width:80px;}
#search_keyword{background-position:7px 7px;background-color:#fff;height:18px;-height:20px;padding:5px 3px 2px 5px;width:190px;border:1px solid #D1D1D1;float:left;}
.btn-s {float:left;color:#fff;font-weight:bold; background-position:0 -37px;cursor:pointer;background-color:#2EAFBB; width:60px;height:27px;border:none;font-size:13px} 
.btn-s:hover {background-position:-73px -37px;background-color:#45C7D1;}

.newslist{width:770px; margin:0px auto;}
.newslist ul li{line-height:40px; text-align:left; color:#524e4e; display:inline-block; overflow:hidden;}
.newslist li{width:100%;border-bottom:1px solid #eee;}
.newslist span{display:block; float:left;}
.newslist .jobtitle{width:550px;}
.newslist .fwstitle{width:490px;}
.newslist .city{width:45px;}
.newslist .price{width:100px;}
.newslist .newstime{width:120px;}
.newslist .zptime{width:50px;}
.newslist .gongzi{width:90px;}
.newslist .jiesuan{width:45px;}

.fabujob {height:15px;padding:3px 0 1px 0;font-size:13px;}
.fabujz{width:920px; margin:0px auto; font-size:13px;color:#524E4E;}
.fabujz ul li{line-height:25px;text-align:left; display:block;overflow:hidden;clear: both; Padding-bottom:8px;}
.fabujz span{display:block; float:left;Padding-right:1px;}
.fabujz .curname{width:105px; text-align:right;}
.fabujz span.opendemo{color: #524E4E;Padding-left:50px;}
.fabujz .demoinfo{color: #524E4E;}
.fabujz  .person{width:180px;height:25px;line-height:25px;font-size:15px;border:1px solid #D1D1D1;padding:3px 3px 3px 5px; background-color:#FFF; }
.fabujz  .editcompany{width:260px;height:25px;line-height:25px;font-size:15px;border:1px solid #D1D1D1;padding:3px 3px 3px 5px; background-color:#FFF; }
.fabujz  .fbtitle{width:268px;height:25px;line-height:25px;font-size:15px;border:1px solid #D1D1D1;padding:3px 3px 3px 5px; background-color:#FFF; }

.fabujz  .price	{width:70px;height:25px;line-height:25px;font-size:15px;border:1px solid #D1D1D1; margin-right:5px;padding:3px 3px 3px 5px; }
.fabujz  .salary_type,.payment_type {width:100px;height:32px;padding:1px 0x 1px 5px;border:1px solid #D1D1D1; }
.fabujz label{border:0px solid #2EAFBB;display:inline-block;}

.postjzbuttom {float:left;color:#fff;font-weight:bold;cursor:pointer;background-color:#2EAFBB;font-size:14px;line-height:43px;height:43px;border:0; padding-bottom:5px;} 
.postjzbuttom:hover {background-color:#45C7D1;}

.u-btn{display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:25px;line-height:25px;border:1px solid #2EAFBB;font-size:12px;letter-spacing:1px;word-spacing:normal;text-align:center;vertical-align:middle;cursor:pointer;background:#2EAFBB;}
.u-btn,.u-btn:hover{color:#fff;text-decoration:none;background-color:#45C7D1;}
.u-btn:hover,.u-btn:focus{background:#2EAFBB;}
.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.u-btn:link{color:#fff;}
.boxpicsh{width:80%;display: inline-block;}
.boxpicsh .img{float:left;width:128px;height:79px; padding:0;}.boxpicsh .list{float:left;padding-top:30px;}
.small_indexqita {color:#2EAFBB; font-weight:bold; float:left;padding-left:6px;font-size:13px;}
.indexdaohang{padding:0 0px 6px 4px;margin:0 auto;width:1097px;}
.bottom_link:link{color:#777;}